body {background-color:#000;}

select {
    box-decoration-break: unset;
    box-shadow: none !important;
    align-self: center;
    font-family: 'Font';
    background-color:  rgba(255,255,255,0);
    border: none;
    color: white;
    padding: 15px 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  select:focus {
    outline: none;
}

option {
    font-family: 'Font';
    background-color:  white;
    border: none;
    color: black;
    padding: 15px 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }


.center {
    text-align: center
    border: 0px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px;
  }

  .center1 {
    text-align: center
    border: 0px solid;
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px;
  } 

p {

color: white;
font-family: 'Font';
text-align: center

}

h1 {
    color: white;
    font-size: 50;

    text-align: center;
    font-family: 'Font';


}



.button {
    font-family: 'Font';
    background-color:  white;
    border: none;
    color: black;
    padding: 15px 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }



.container{  
    text-align: center;  
    border: 7px solid red;  
    width: 300px;  
    height: 200px;  
    padding-top: 100px;  
    }  



    @font-face {
        font-family: Font;
        src: url(UtahCondensedBold.ttf);
      }












div#content
{
width:85%;
height:500px;
color: #FFF
background-color: #000;
margin:auto;
}
