/*
Custom CSS for TemplateMo 561 Purple Buzz

https://templatemo.com/tm-561-purple-buzz

*/
body {
    background-color: #000000;
    color: white;
    }
#main_nav {
	background-color:black;
}

.resize {
      max-width: 200px;
    height: auto;
    margin-bottom:10px;
    margin-top:5px;
     
	}
	
.margin {
	margin-bottom:-25px;
	margin-top:-20px;

}
	
.margin2 {
	margin-bottom:-85px;
	margin-top:-55px;

}

.anc {

	padding:10px;
	text-align:center;
	border-bottom-color:#121212;
	border-bottom-width:0.5px;
	border-bottom-style:solid;
	font-weight:600;
	font-size:12px;
	
	}


